# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://prisma.ftumdkapprxrxmxqautv:IOTVWhOankMQ0tJchsUtSbak2Ob09nYlWdEXaHpY6Y@aws-0-eu-north-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://prisma.ftumdkapprxrxmxqautv:IOTVWhOankMQ0tJchsUtSbak2Ob09nYlWdEXaHpY6Y@aws-0-eu-north-1.pooler.supabase.com:5432/postgres"